<div id="root" />
<script>
  window.logoUrl = '<%= image_url('faceplace.png') %>';
  window.feedUrl = '<%= image_url('feed.png') %>';
  window.timelineUrl = '<%= image_url('timeline.png') %>';
  window.searchUrl = '<%= image_url('search.png') %>';
  window.iconUrl = '<%= image_url('faceplace_icon.png') %>';
  window.intro_work = '<%= image_url('intro_work.png') %>';
  window.intro_school = '<%= image_url('intro_school.png') %>';
  window.intro_location = '<%= image_url('intro_location.png') %>';
  window.intro_hometown = '<%= image_url('intro_hometown.png') %>';
  window.intro_icon = '<%= image_url('intro_icon.png') %>';

  window.add_friend_icon = '<%= image_url('add_friend_icon.png') %>';
  window.nav_notifications_inactive = '<%= image_url('nav_notifications_inactive.png') %>';
  window.nav_messages_inactive = '<%= image_url('nav_messages_inactive.png') %>';
  window.nav_friends_inactive = '<%= image_url('nav_friends_inactive.png') %>';
  window.nav_notifications_hover = '<%= image_url('nav_notifications_hover.png') %>';
  window.nav_messages_hover = '<%= image_url('nav_messages_hover.png') %>';
  window.nav_friends_hover = '<%= image_url('nav_friends_hover.png') %>';
  window.nav_notifications_active = '<%= image_url('nav_notifications_active.png') %>';
  window.nav_messages_active = '<%= image_url('nav_messages_active.png') %>';
  window.nav_friends_active = '<%= image_url('nav_friends_active.png') %>';
</script>
