<div id="root" />
<script>
  window.logoUrl = '<%= image_url('faceplace.png') %>';
  window.feedUrl = '<%= image_url('feed.png') %>';
  window.timelineUrl = '<%= image_url('timeline.png') %>';
  window.searchUrl = '<%= image_url('search.png') %>';
  window.iconUrl = '<%= image_url('faceplace_icon.png') %>';
  window.intro_work = '<%= image_url('intro_work.png') %>';
  window.intro_school = '<%= image_url('intro_school.png') %>';
  window.intro_location = '<%= image_url('intro_location.png') %>';
  window.intro_hometown = '<%= image_url('intro_hometown.png') %>';
  window.intro_icon = '<%= image_url('intro_icon.png') %>';
  window.jeff = '<%= image_url('jeff.png') %>';
  window.walter = '<%= image_url('walter.jpg') %>';
</script>
