@import 'global';

#left-col {
  #left-col-content {
    width: 175px;
    ul {
      margin: 0;
      padding: 0;
      li.group {
        color: $shark;
        cursor: pointer;
        font-family: $typeStandardFontFamily;
        font-size: 12px;
        padding: 4px 6px;
        img {
          display: block;
          float: left;
          margin-right: 5px;
          @include squareObjectFit(16px);
        }
        .left-col-text {
          align-items: center;
          float: left;
        }
      }
      li.group:hover {
        background-color: $iron2;
      }
    }
    li.left-col-title {
      color: rgba(#666666, .8);
      font-family: $typeStandardFontFamily;
      font-size: 11px;
      font-weight: bold;
      margin-top: 10px;
    }
  }
}
