@import 'global';

$slimButtonBorderRadius: 2px;
$slimButtonFontSize: 12px;
$slimButtonFontWeight: normal;
$slimButtonLineHeight: 22px;
$slimButtonMarginLeft: 4px;
$slimButtonPadding: 0 8px;

@mixin slimButtonSizes {
  box-sizing: border-box;
  border-radius: $slimButtonBorderRadius;
  padding: $slimButtonPadding;
  font-size: $slimButtonFontSize;
  font-weight: $slimButtonFontWeight;
  line-height: $slimButtonLineHeight;
  margin-left: $slimButtonMarginLeft;
}
@mixin grayButtonBorder {
  color: $abbey;
  background-color: $grayButtonBackgroundColor;
  border: 1px solid $iron1;
}
