@import 'global';

$blueButtonColor: white;
$blueButtonBackgroundColor: $sanMarino;
$blueButtonHoverBackgroundColor: $chambray;
$blueButtonActiveBackgroundColor: $astronaut;

$grayButtonColor: $abbey;
$grayButtonBorderColor: $sanMarino;
$grayButtonBackgroundColor: $athensGray3;
$grayButtonHoverBackgroundColor: $athensGray1;
$grayButtonActiveBackgroundColor: $iron;

@mixin buttonFocusBoxShadow {
  outline: none;
  box-shadow: 0 0 3px 2px rgba($dodgerBlue, 0.75);
}
@mixin blueButtonColors {
  color: $blueButtonColor;
  background-color: $blueButtonBackgroundColor;
}
@mixin blueButtonHoverColors {
  cursor: pointer;
  background-color: $blueButtonHoverBackgroundColor;
}
@mixin blueButtonActiveColors {
  background-color: $blueButtonActiveBackgroundColor;
}
@mixin grayButtonColors {
  color: $grayButtonColor;
  background-color: $grayButtonBackgroundColor;
  border-color: $grayButtonBorderColor;
}
@mixin grayButtonHoverColors {
  cursor: pointer;
  background-color: $grayButtonHoverBackgroundColor;
}
@mixin grayButtonActiveColors {
  background-color: $grayButtonActiveBackgroundColor;
}
