@import 'button-color';
@import 'button-size';

@mixin buttonFocusBoxShadow {
  outline: none;
  box-shadow: 0 0 3px 2px rgba($dodgerBlue, 0.75);
}

@mixin grayButton {
  background-color: $athensGray3;
  border: 1px solid $iron1;
  color: $abbey;
  cursor: pointer;
}

@mixin grayButtonHover {
  background-color: $athensGray1;
}

@mixin grayButtonActive {
  background-color: $iron2;
}

@mixin blueButton {
  background-color: $sanMarino;
  font-family: $typeStandardFontFamily;
  color: white;
  cursor: pointer;
}

@mixin blueButtonHover {
  background-color: $chambray;
}

@mixin blueButtonActive {
  background-color: $astronaut;
}
