@import 'global';

$buttonFocusBoxShadow: 0 0 3px 2px rgba(#5890ff, 0.75);

$blueButtonColor: white;
$blueButtonBackgroundColor: $sanMarino;
$blueButtonHoverBackgroundColor: $chambray;
$blueButtonActiveBackgroundColor: $astronaut;

$grayButtonColor: $abbey;
$grayButtonBorderColor: $sanMarino;
$grayButtonBackgroundColor: $athensGray2;
$grayButtonHoverBackgroundColor: #e9ebee;
$grayButtonActiveBackgroundColor: #dddfe2;

@mixin buttonFocusBoxShadow {
  outline: none;
  box-shadow: $buttonFocusBoxShadow;
}
@mixin blueButtonColors {
  color: $blueButtonColor;
  background-color: $blueButtonBackgroundColor;
}
@mixin blueButtonHoverColors {
  cursor: pointer;
  background-color: $blueButtonHoverBackgroundColor;
}
@mixin blueButtonActiveColors {
  background-color: $blueButtonActiveBackgroundColor;
}
@mixin grayButtonColors {
  color: $grayButtonColor;
  background-color: $grayButtonBackgroundColor;
  border-color: $grayButtonBorderColor;
}
@mixin grayButtonHoverColors {
  cursor: pointer;
  background-color: $grayButtonHoverBackgroundColor;
}
@mixin grayButtonActiveColors {
  background-color: $grayButtonActiveBackgroundColor;
}
