@import 'global';

$blueButtonColor: white;
$blueButtonBackgroundColor: $sanMarino;
$blueButtonHoverBackgroundColor: $chambray;
$blueButtonActiveBackgroundColor: $astronaut;

$grayButtonBorderColor: $sanMarino;
$grayButtonBackgroundColor: $athensGray3;
$grayButtonHoverBackgroundColor: $athensGray1;
$grayButtonActiveBackgroundColor: $iron2;

@mixin blueButtonColors {
  color: white;
  background-color: $sanMarino;
}
@mixin blueButtonHoverColors {
  cursor: pointer;
  background-color: $blueButtonHoverBackgroundColor;
}
@mixin blueButtonActiveColors {
  background-color: $blueButtonActiveBackgroundColor;
}
@mixin grayButtonColors {
  color: $abbey;
  background-color: $grayButtonBackgroundColor;
  border-color: $grayButtonBorderColor;
}
@mixin grayButtonHoverColors {
  cursor: pointer;
  background-color: $grayButtonHoverBackgroundColor;
}
@mixin grayButtonActiveColors {
  background-color: $grayButtonActiveBackgroundColor;
}
