@import 'free-type-color';

$freeStandardFontFamily: helvetica, arial, sans-serif;

@mixin freeFloatingTextType {
  @include freeFloatingTextWhite;
  font-family: $freeStandardFontFamily;
}
@mixin freeInteractiveLinkType {
  @include freeInteractiveLinkBlue;
  font-family: $freeStandardFontFamily;
}
@mixin freeSmallDetailType {
  @include freeSmallDetailGray;
  font-family: $freeStandardFontFamily;
}
@mixin freeStandardType {
   font-family: $freeStandardFontFamily;
 }
