@import 'free-type-type';
$freeSmallDetailGrayFontSize: 12px;
$freeSmallDetailGrayFontWeight: normal;

@mixin freeChambray($size) {
  color: $mariner;
  font-family: $freeStandardFontFamily;
  font-size: $size;
  font-weight: bold;
}
@mixin freeFloatingTextMedium {
  @include freeFloatingTextType;
  font-size: 12px;
  font-weight: normal;
}
@mixin freeSmallDetail {
  @include freeSmallDetailType;
  font-size: $freeSmallDetailGrayFontSize;
  font-weight: $freeSmallDetailGrayFontWeight;
}
@mixin freeStandard12 {
  @include freeStandardType;
  font-size: 12px;
}
@mixin freeStandard14 {
  @include freeStandardType;
  font-size: 14px;
}
@mixin freeStandard15 {
  @include freeStandardType;
  font-size: 15px;
}
@mixin freeStandard16 {
  @include freeStandardType;
  font-size: 16px;
}
