@import 'free-type-color';

$freeMainFontFamily: helvetica, arial, sans-serif;

@mixin freeInteractiveLinkType {
  @include freeInteractiveLinkBlue;
  font-family: $freeMainFontFamily; }

@mixin freeFloatingTextType {
  @include freeFloatingTextWhite;
  font-family: $freeMainFontFamily; }

@mixin freeSmallDetailGrayType {
  @include freeSmallDetailGray;
  font-family: $freeMainFontFamily; }
