$mariner: #365899;
$freeSmallDetailGray: #9e9b9e;

@mixin freeInteractiveLinkBlue {
  color: $mariner; }

@mixin freeFloatingTextWhite {
  color: white; }

@mixin freeSmallDetailGray {
  color: $freeSmallDetailGray; }
