// COLORS

$abbey: #4a4e55;
$astronaut: #29487d;
$athensGray1: #e9ebee;
$athensGray2: #edeff5;
$athensGray3: #f6f7f9;
$catskillWhite: #ecf0f7;
$chambray: #365899;
$dodgerBlue: #5890ff;
$doveGray: #636363;
$facebookBlue: #3b5998;
$iron1: #cdcfd4;
$iron2: #dddfe2;
$mercury: #e5e5e5;
$notBlack: #333333;
$paleYellow: #fff9d7;
$sanMarino: #4267b2;
$shadyLady: #9e9b9e;
$tomato: #fa3e3e;
$wildWillow: #a2ce70;

// DIMENSIONS

$navDropItemInnerHeight: 48px;

@mixin flexAlign($height) {
  align-items: center;
  display: flex;
  height: $height;
}

@mixin squareObjectFit($dim) {
  height: $dim;
  width: $dim;
  object-fit: cover;
}

// TYPE

$typeStandardFontFamily: helvetica, arial, sans-serif;

@mixin typeChambray($size) {
  color: $chambray;
  font-family: $typeStandardFontFamily;
  font-size: $size;
  font-weight: bold;
}
@mixin typeShadyLady {
  color: $shadyLady;
  font-family: $typeStandardFontFamily;
  font-size: 12px;
  font-weight: normal;
}
@mixin typeStandard($size: 12px) {
  font-family: $typeStandardFontFamily;
  font-size: $size;
}
