// COLORS

$almostWhite: #f6f7f9;
$athensGray: #edeff5;
$catskillWhite: #ecf0f7;
$notBlack: #333333;
$shadyLady: #9e9b9e;
$wildWillow: #a2ce70;

$listItemHoverBackgroundColor: $catskillWhite;
$navDropItemUncheckedBackgroundColor: $athensGray;
$navDropItemHoverBackgroundColor: $almostWhite;
// DIMENSIONS

$navDropItemInnerHeight: 48px;

@mixin flexAlign($height) {
  align-items: center;
  display: flex;
  height: $height;
}
