@import 'misc-color';
@import 'free-type-size';

$navDropBorderBottom: 1px solid $miscThinSeparatorGray;

@mixin navDropCounter {
  bottom: 35px;
  background-color: $tomato;
  border-radius: 2px;
  color: white;
  font-family: $freeStandardFontFamily;
  font-size: 10px;
  left: 15px;
  position: relative;
  padding: 1px 3px;
}
