$typeStandardFontFamily: helvetica, arial, sans-serif;

@mixin typeChambray($size) {
  color: $chambray;
  font-family: $typeStandardFontFamily;
  font-size: $size;
  font-weight: bold;
}
@mixin typeShadyLady {
  color: $shadyLady;
  font-family: $typeStandardFontFamily;
  font-size: 12px;
  font-weight: normal;
}
@mixin typeStandard($size: 12px) {
  font-family: $typeStandardFontFamily;
  font-size: $size;
}
