$freeStandardFontFamily: helvetica, arial, sans-serif;

@mixin freeChambray($size) {
  color: $mariner;
  font-family: $freeStandardFontFamily;
  font-size: $size;
  font-weight: bold;
}
@mixin freeShadyLady {
  color: $shadyLady;
  font-family: $freeStandardFontFamily;
  font-size: 12px;
  font-weight: normal;
}
@mixin freeStandard($size: 12px) {
  font-family: $freeStandardFontFamily;
  font-size: $size;
}
