@import 'global';

.comment-section {
  background-color: $athensGray1;
  border-top: 1px solid #e5e5e5;
  margin-top: 11px;
  img {
    @include commentProfilePic;
    @include squareObjectFit(30px);
  }
  .post-comment {
    padding: 8px 12px;
    .post-comment-body {
      @include typeStandard;
      display: block;
      float: left;
      position: relative;
      width: 446px;
      a {
        @include typeChambray(12px);
      }
      a:hover {
        text-decoration: underline;
      }
      i {
        color: #d6d8db;
        position: absolute;
        right: 0;
        top: 0;
      }
      i:hover {
        color: #a0a4ae;
        cursor: pointer;
      }
      .post-comment-created-at {
        color: #90949c;
        margin-top: 2px;
      }
    }
  }
  .post-comment-form {
    padding: 8px 12px 8px;
    textarea {
      @include typeStandard;
      border: 1px solid $hawkesBlueGray;
      display: block;
      float: left;
      height: 16px;
      outline: none;
      padding: 7px 5px;
      resize: none;
      width: 434px;
    }
  }
}
