@import 'button-style';
@import 'free-type-size';
@import 'global';
@import 'misc-color';
@import 'nav-drop';
@import 'profile-pic-size';

@mixin bottomBorder {
  border-bottom: 1px solid $miscThinSeparatorGray;
}

.friend-request-details {
  @include flexAlign($navDropItemInnerHeight);
  a {
    @include freeChambray(12px);
  }
  aside {
    @include freeShadyLady;
    display: block;
  }
}
.friend-request-response {
  @include flexAlign($navDropItemInnerHeight);
  float: right;
  margin-right: 12px;
  button {
    @include slimButtonSizes;
  }
  button:focus {
    @include buttonFocusBoxShadow;
  }
  button.nav-drop-request-confirm {
    @include blueButtonColors;
  }
  button.nav-drop-request-confirm:hover {
    @include blueButtonHoverColors;
  }
  button.nav-drop-request-confirm:active {
    @include blueButtonActiveColors;
  }
  button.nav-drop-request-delete {
    @include grayButtonColors;
    @include grayButtonBorder;
  }
  button.nav-drop-request-delete:hover {
    @include grayButtonHoverColors;
  }
  button.nav-drop-request-delete:active {
    @include grayButtonActiveColors;
  }
}
.nav-drop-block {
  display: block;
  float: left;
}
div#empty-friend-requests {
  @include freeShadyLady;
  padding: 8px;
  text-align: center;
  font-style: italic;
}
