@import 'global';

section#friends-index > img {
  margin-top: 6px;
  margin-left: 6px;
}
section#friends-index > h2 {
  margin-left: 41px;
  margin-top: 10px;
}
section.profile-friends-container {
  float: left;
}
#friends-index {
  width: 313px;
  padding: 4px;
}
#friend-thumbs-container {
  width: 318px;
}
.friend-thumb {
  img {
    @include squareObjectFit(100px);
  }
  display: block;
  position: relative;
  float: left;
}
.friend-thumb:hover {
  text-decoration: underline;
}
.friend-thumb:nth-child(3n+2) {
  margin-left: 5px;
  margin-right: 5px;
}
.friend-thumb:nth-child(3n+1) {
  margin-left: 1px;
}
.friend-thumb-name {
  bottom: 0;
  color: white;
  font-family: $typeStandardFontFamily;
  font-size: 12px;
  font-weight: normal;
  left: 0px;
  margin: 5px;
  pointer-events: none;
  position: absolute;
  z-index: 1000;
}
