@import 'free-type-size';
@import 'misc-color';
@import 'button-style';
@import 'profile-pic-size';

@mixin bottomBorder {
  border-bottom: 1px solid $miscThinSeparatorGray;
}

.friend-request-details {
  align-items: center;
  display: flex;
  height: 48px;
  a {
    @include freeInteractiveLinkSmall;
  }
  aside {
    @include freeSmallDetail;
    display: block;
  }
}
.friend-request-response {
  align-items: center;
  display: flex;
  float: right;
  height: 48px;
  margin-right: 12px;
  button {
    @include slimButtonSizes;
  }
  button:focus {
    @include buttonFocusBoxShadow;
  }
  button.nav-drop-request-confirm {
    @include blueButtonColors;
  }
  button.nav-drop-request-confirm:hover {
    @include blueButtonHoverColors;
  }
  button.nav-drop-request-confirm:active {
    @include blueButtonActiveColors;
  }
  button.nav-drop-request-delete {
    @include grayButtonColors;
    @include grayButtonBorder;
  }
  button.nav-drop-request-delete:hover {
    @include grayButtonHoverColors;
  }
  button.nav-drop-request-delete:active {
    @include grayButtonActiveColors;
  }
}
.nav-drop-block {
  display: block;
  float: left;
}
div#empty-friend-requests {
  @include freeSmallDetail;
  padding: 8px;
  text-align: center;
  font-style: italic;
}
