.main-header {
  background-color: #3b5998;
  border-bottom: 1px solid black;
}

.main-header-nav {
  position: relative;
  width: 100%;
}

.welcome-header {
  background: #4d68a2;
  height: 83px;
}

.welcome-header-nav {
  width: 980px;
  margin: auto;
  position: relative;
  label {
    color: white;
    font-family: helvetica;
    font-size: 12px;
  }
}

label:after {
  content:"\a";
  white-space: pre;
}

.header-logo {
  display: block;
  position: absolute;
  margin-top: 25px;
}

.log-in-form {
  font-family: helvetica;
  font-size: 12px;
  position: absolute;
  display: block;
  float: right;
  margin-top: 25px;
  right: -16px;
  table {
    border-spacing: 16px 0px;
  }
  input {
    border: 1px solid black;
    padding: 3px 3px 4px 3px;
    width: 142px;
  }
}

.login-button {
  display: block;
  padding: 2px 6px 3px;
  background-color: #5a74a8;
  color: white;
  font-family: tahoma;
  font-weight: bold;
  box-shadow: 0 0 1px black;
}

.login-button:hover {
  cursor: pointer;
}

a.login-button:active {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 5px;
}

.login-button:active {
  position: relative;
  top: 2px;
}
