@import 'global';

.no-scroll-body {
  overflow: hidden;
}
.modal-background-opaque {
  background-color: rgba(#000000, 0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  opacity: 1;
  z-index: 2000;
  transition: opacity 0.2s;
}
.modal-background-transparent {
  opacity: 0;
  transition: opacity 0.2s;
}
.modal-outer {
  position: relative;
  float: left;
  top: 30%;
  left: 50%;
}
.modal-inner {
  position: relative;
  float: left;
  left: -50%;
}
.modal-delete-post {
  width: 436px;
}
.modal-element {
  margin: 0;
  top: 30%;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 5px 47px 0px rgba(0,0,0,0.75);
  font-family: $typeStandardFontFamily;
  hr {
    border-top: 1px solid $hawkesBlueGray;
    margin: 0 auto;
    width: calc(100% - 30px);
  }
}
.modal-header {
  display: block;
  background-color: $athensGray3;;
  border-bottom: 1px solid #bdc7d8;
  margin-bottom: 12px;
  strong {
    display: block;
    padding: 10px 12px;
    font-size: 14px;
    font-weight: bold;
  }
}
.modal-message-container {
  display: block;
  padding: 12px;
  mark {
    background-color: white;
    font-size: 14px;
  }
}
.modal-footer {
  display: block;
}
.modal-button-container {
  float: right;
  display: block;
  margin: 7px;
}
.modal-container button {
  display: block;
  float: left;
  padding: 0 8px;
  margin-left: 5px;
  line-height: 22px;
  font-size: 12px;
  font-weight: bold;
}
.modal-confirm-button {
  border: 0;
}
