.main-header {
  height: 42px;
}

#faceplace-icon {
  float: left;
}

.nav-left {
  height: 100%;
  float: left;
}

.nav-search {
  float: left;
  margin-top: 8px;
  border-radius: 3px;
  border: 1px solid black;
  font-size: 14px;
  input {
    border-radius: 3px;
    width: 400px;
    display: block;
    padding: 4px 5px 4px 4px;
  }
}

.nav-right {
  height: 100%;
  float: right;
  color: white;
  font-family: tahoma;
  font-weight: bold;
  font-size: 12px;
  div {
    cursor: pointer;
    line-height: 27px;
    height: 27px;
    margin-top: 8px;
    float: left;
  }
  button {
    cursor: pointer;
    background-color: #5a74a8;
    box-shadow: 0 0 1px black;
    height: 27px;
    margin-top: 8px;
    display: block;
    float: left;
    border-radius: 2px;
    margin-left: 10px;
  }
}

.fa-facebook-official {
  color: white;
  display: block;
  float: left;
  height: 60px;
  margin-top: 6px;
  margin-right: 7px;
}

.main-header-nav {
  width: 980px;
  height: 100%;
  margin: auto;
}
