.main-header {
  height: 42px;
}

.main-header-nav {
  width: 980px;
  height: 100%;
  margin: auto;
}

#faceplace-icon {
  float: left;
  font-size: 28px;
}

.fa-facebook-official {
  color: white;
  display: block;
  float: left;
  height: 60px;
  margin-top: 6px;
  margin-right: 7px;
}

.nav-left {
  height: 100%;
  float: left;
}

.nav-right {
  height: 100%;
  float: right;
  color: white;
  font-family: tahoma;
  font-weight: bold;
  font-size: 12px;
  button {
    cursor: pointer;
    background-color: #5a74a8;
    box-shadow: 0 0 1px black;
    height: 27px;
    margin-top: 8px;
    display: block;
    float: left;
    border-radius: 2px;
    margin-left: 10px;
  }
}

.nav-right > div {
  cursor: pointer;
  margin: 8px 7px 0 7px;
  float: left;
}

.nav-right div#user-icon {
  line-height: 27px;
}

.nav-drops {
  font-size: 20px;
  div.nav-drop-inactive {
    color: #17233d;
  }
  div.nav-drop-inactive:hover {
    color: #0b121e;
  }
}

.nav-drops > div {
  float: right;
  margin-left: 5px;
}

.nav-drop-active {
  position: relative;
}
