@import 'global';
@import 'misc-color';
@import 'nav-drop';
@import 'profile-pic-size';

@mixin bottomBorder {
  border-bottom: 1px solid $miscThinSeparatorGray;
}

.main-header {
  height: 42px;
  .main-header-nav {
    width: 980px;
    height: 100%;
    margin: auto;
    #faceplace-icon {
      float: left;
      font-size: 28px;
    }
    .nav-left {
      height: 100%;
      float: left;
    }
    #nav-right > div {
      float: left;
    }
  }
}

.fa-facebook-official {
  color: white;
  display: block;
  float: left;
  height: 60px;
  margin-top: 6px;
  margin-right: 7px;
}
#nav-right {
  height: 100%;
  float: right;
  color: white;
  font-family: tahoma;
  font-size: 12px;
  #user-icon {
    font-weight: bold;
    margin-right: 3px;
    margin-top: 14px;
  }
  .fa-hover-box-25x25 {
    height: 25px;
    width: 25px;
    cursor: pointer;
  }
  #nav-drops {
    font-size: 20px;
    margin-top: 9px;
    .nav-drop-icon {
      margin-left: 10px;
      float: left;
    }
    .nav-drop-inactive {
      color: #17233d;
    }
    .nav-drop-inactive:hover {
      color: #0b121e;
    }
    mark {
      @include navDropCounter;
    }
    .nav-drop-active:after,
    .nav-drop-active:before {
      border-style: solid;
      content: '';
      display: block;
      height: 0;
      position: absolute;
      width: 0;
      z-index: 1001;
    }
    .nav-drop-active:after {
      border-color: transparent transparent white transparent;
      border-width: 10px;
      right: 7px;
      top: 15px;
    }
    .nav-drop-active:before {
      border-color: transparent transparent rgba(#000000, 0.25) transparent;
      border-width: 11px;
      right: 6px;
      top: 13px;
    }
    .nav-drop-overlay {
      background-color: white;
      border: 1px solid rgba(#636363, 0.4);
      box-shadow: 0 3px 8px rgba(#000000, 0.25);
      left: -370px;
      max-height: 80vh;
      overflow: hidden;
      position: absolute;
      top: 34px;
      width: 406px;
      z-index: 1000;
      .nav-drop-title {
        @include bottomBorder;
        strong {
          line-height: 30px;
          margin-left: 12px;
          font-size: 12px;
          color: #333338;
        }
      }
      .nav-drop-item {
        @include bottomBorder;
        display: block;
        overflow-x: hidden;
        padding: 6px 0 5px 12px;
        .nav-drop-profile-pic {
          @include squareObjectFit(48px);
          margin-right: 10px;
        }
      }
      .nav-drop-item:last-child {
        border-bottom: none;
      }
      .unchecked-alert {
        background-color: $lavenderGray;
      }
      .nav-drop-item:hover {
        background-color: $listItemHoverBackgroundColor;
      }
    }
    .nav-drop-overlay:hover {
      overflow-y: scroll;
    }
  }
  #logout {
    background-color: #5a74a8;
    border-radius: 2px;
    box-shadow: 0 0 1px black;
    cursor: pointer;
    display: block;
    float: left;
    height: 27px;
    margin-left: 10px;
    margin-top: 8px;
  }
}
#nav-drops > div {
  margin-left: 5px;
}
.nav-drop-active {
  position: relative;
}
