@import 'global';

#notifications-drop {
  .nav-drop-item:hover {
    background-color: $athensGray3;
    cursor: pointer;
  }
  footer {
    border-top: $navDropBorder;
    color: $chambray;
    cursor: pointer;
    font-size: 12px;
    padding: 8px 0;
    text-align: center;
  }
  footer:hover {
    text-decoration: underline;
  }
}

.notification-details {
  @include flexAlign($navDropItemInnerHeight);
  color: $notBlack;
  font-family: $typeStandardFontFamily;
  font-size: 12px;
  .notification-explanation {
    margin-bottom: 1px;
    .notifier-name {
      font-weight: bold;
    }
  }
  .notification-footer {
    i {
      color: $wildWillow;
      margin-right: 5px;
    }
    .notification-date {
      @include typeShadyLady;
    }
  }
}
