@import 'free-type-type';
@import 'global';
@import 'nav-drop';

.notification-details {
  color: $notBlack;
  font-family: $freeStandardFontFamily;
  font-size: 12px;
  width: 324px;
  .notifier-name {
    font-weight: bold;
  }
  .notification-footer {
    .notification-date {
      @include freeSmallDetailType;
    }
  }
}
