@import 'global';
@import 'nav-drop';

#notifications-drop {
  .nav-drop-item:hover {
    background-color: $athensGray3;
    cursor: pointer;
  }
}

.notification-details {
  @include flexAlign($navDropItemInnerHeight);
  color: $notBlack;
  font-family: $typeStandardFontFamily;
  font-size: 12px;
  width: 324px;
  .notification-explanation {
    margin-bottom: 1px;
    .notifier-name {
      font-weight: bold;
    }
  }
  .notification-footer {
    i {
      color: $wildWillow;
      margin-right: 5px;
    }
    .notification-date {
      @include typeShadyLady;
    }
  }
}
