@import 'misc-color';
@import 'free-type-size';
@import 'profile-pic-size';

.post-breakdown {
  margin: 0 12px;
  img {
    @include squareObjectFit(38px);
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: block;
    float: left;
    margin-right: 8px;
  }
}
.post-breakdown-details {
  @include freeInteractiveLinkMedium;
  float: left;
  width: 416px;
  position: relative;
  margin-bottom: 5px;
  top: 2px;
  div {
    float: left;
  }
}
div.friend-post-icon {
  margin: 0 5px;
  i {
    font-size: 14px;
    color: #969696;
  }
}
.post-datetime-container {
  float: left;
}
.post-datetime {
  float: left;
}
.post-datetime {
  @include freeSmallDetail;
}
.post-options-container {
  position: relative;
  i {
    position: absolute;
    color: #d8dbdf;
    top: -17px;
    right: 0;
    font-size: 13px;
  }
  i:hover {
    color: #c1c5cc;
    cursor: pointer;
  }
  ul {
    padding: 0;
    display: block;
    position: absolute;
    border-radius: 3px;
    width: 110px;
    top: -14px;
    right: -5px;

    background-color: white;
    border: 1px solid rgba(#000000, 0.15);
    box-shadow: 0 3px 8px rgba(#000000, 0.3);
  }
  li {
    @include freeStandard12;
    float: left;
    margin: 6px 0;
    padding: 3px 12px;
    width: 86px;
    cursor: pointer;
  }
  li:hover {
    background-color: #3d4ea7;
    color: white;
  }
  li::selection {
    background: rgba(#000000, 0);
  }
  li::-moz-selection {
    background: rgba(#000000, 0);
  }
  hr {
    margin: 0 auto;
    width: 92px;
  }
}
.post-body {
  @include freeStandard14;
  padding: 14px 12px 3px;
}
.post-tagged-friends {
  color: #888888;
  padding: 5px 12px 3px;
  a {
    cursor: pointer;
    color: $mariner;
  }
  a:hover  {
    text-decoration: underline;
  }
}
