#post-form-section {
  float: left;
  width: 510px;
  padding: 0;
  overflow: hidden;
}

.profile-post {
  width: 510px;
}

.post-types-background {
  background-color: #f6f7f9;
  height: 100%;
  width: 100%;
  padding: 10px 0 10px 10px;
  border-bottom: 1px solid #e5e5e5;
}

.post-types {
}

.post-type-text {
  height: 16px;
  font-family: helvetica;
  font-size: 12px;
  font-weight: bold;
  color: #365899;
  line-height: 16px;
}

.post-type-img {
  position: relative;
  top: -1px;
  display: block;
  float: left;
  height: 16px;
  width: 16px;
  margin-right: 5px;
}

.post-form {
  padding: 12px 12px 23px 12px;
}

.post-pic {
  border: 1px solid rgba(0, 0, 0, 0.0980392);
  display: block;
  float: left;
}

.post-textarea {
  padding: 11px 0 13px 12px;
  border: none;
  outline: none;
  resize: none;
  width: 423px;

  font-family: helvetica;
  font-size: 14px;
}

.post-footer-background {
  border-top: 1px solid #e5e5e5;
  height: 40px;
}

.post-footer-left-buttons {
  float: left;
  cursor: pointer;
}

.post-footer-right-buttons {
  margin: 8px;
  float: right;
  button {
    height: 22px;
  }
}

.post-form-section {
}
