@import 'button-style';
@import 'global';

#post-form-section {
  float: left;
  padding: 0;
}
.post-form {
  width: 510px;
  .post-types {
    border-bottom: 1px solid $mercury;
    border-radius: 3px;
    height: 24px;
    margin: 0 12px;
    padding: 6px 0 4px 0;
    .post-type {
      align-items: center;
      display: flex;
      float: left;
      height: 100%;
      overflow: hidden;
      padding: 0 5px;
      position: relative;
      .post-type-icon {
        color: $shuttleGray;
        float: left;
        margin-right: 5px;
        pointer-events: none;
      }
      .post-type-text {
        @include typeChambray(12px);
        float: left;
        height: 16px;
        line-height: 16px;
        pointer-events: none;
      }
      input {
        background-color: orange;
        cursor: pointer;
        opacity: 0;
        position: absolute;
        right: -7px;
      }
    }
    .post-type:hover {
      background-color: $athensGray3;
    }
  }
  .post-text-body {
    padding: 12px 12px 0 12px;
    .post-pic {
      @include squareObjectFit(38px);
      border: 1px solid rgba(#000000, 0.1);
      display: block;
      float: left;
    }
    .post-textarea {
      @include typeStandard(14px);
      border: none;
      outline: none;
      padding: 11px 0 13px 12px;
      resize: none;
      width: calc(100% - 53px);
    }
    .autogrower {
      @include autoGrower(11px 0 13px 12px, 14px);
    }
  }
  .upload-images {
    margin-bottom: 10px;
    .upload-image {
      position: relative;
      img {
        @include squareObjectFit(100px);
        margin-left: 5px;
      }
      .tinter {
        left: 5px;
      }
    }
  }
  .post-footer-background {
    border-top: 1px solid $mercury;
    height: 40px;
    .post-footer-left-buttons {
      cursor: pointer;
      float: left;
    }
    .post-footer-right-buttons {
      float: right;
      margin: 8px;
    }
  }
}
