.sub-content {
  width: 980px;
  margin: auto;
  h2 {
    font-family: helvetica;
    font-size: 16px;
    margin: 3px 0 20px 35px;
  }
  .icon {
    width: 25px;
    height: 25px;
    display: block;
    float: left;
  }
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }
}

.cover-photo-container {
  position: relative;
  width: 851px;
  height: 315px;
}

.friendship-button-container {
  font-family: helvetica;
  font-size: 12px;
  font-weight: bold;
  color: #4b4f56;

  position: absolute;
  right: 16px;
  bottom: 16px;
  line-height: 15px;

  overflow: hidden;
  img {
    display: block;
    margin-right: 5px;
    float: left;
  }
  button {
    background-color: #F6F7F9;
    height: 28px;
    border: 1px solid #CED0D4;
    border-radius: 3px;
    margin-left: 5px;
  }
  button:hover {
    background-color: #e9ebee;
    cursor: pointer;
  }
  .accept-button {
    color: white;
    background-color: #4267b2;
    border: none;
  }
  .accept-button:hover {
    background-color: #365899;
  }
  .request-sent-button {
    background-color: #e9ebee;
  }
  .request-sent-button:hover {
    cursor: default;
  }
  .cancel-button {

  }
}

.profile-aside-item {
  background-color: white;
  display: block;
  box-shadow: 0 0 1px #ccc;
  border-radius: 3px;
  width: 301px;
  margin: 20px 20px 20px 0;
  padding: 10px;
}
