@import 'free-type-size';

.profile-pic-input-container {
  left: 12px;
  position: absolute;
  top: 10px;
}
.profile-pic {
  img {
    display: block;
  }
  input {
    height: 27px;
    left: -93px;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 240px;
  }
  input:hover {
    cursor: pointer;
  }
}
.profile-pic-input-cover {
  height: 27px;
  left: -93px;
  position: absolute;
  top: 0;
  width: 89px;
}
.profile-pic-input-replacement {
  color: rgba(#ffffff, 0.5);
  i {
    display: block;
    float: left;
    font-size: 26px;
    margin-right: 5px;
  }
  strong {
    @include freeStandard16;
    display: block;
    float: left;
    line-height: 27px;
  }
}
