@import 'global';

.profile-sub-content {
  margin: auto;
  width: 980px;
  h2 {
    @include typeStandard(16px);
    margin: 3px 0 20px 35px;
  }
  .icon {
    display: block;
    float: left;
    height: 25px;
    width: 25px;
  }
}
.profile-top-content {
  position: relative;
}
.cover-photo-container {
  height: 315px;
  position: relative;
  width: 851px;
}
.friendship-button-container {
  @include typeStandard;
  bottom: 16px;
  color: #4b4f56;
  font-weight: bold;
  line-height: 15px;
  position: absolute;
  right: 16px;

  overflow: hidden;
  img {
    display: block;
    margin-right: 5px;
    float: left;
  }
  button {
    background-color: #f6f7f9;
    height: 28px;
    border: 1px solid #cdcfd4;
    border-radius: 3px;
    margin-left: 5px;
  }
  button:hover {
    background-color: #e9ebee;
    cursor: pointer;
  }
  .accept-button {
    color: white;
    background-color: #4267b2;
    border: none;
  }
  .accept-button:hover {
    background-color: #365899;
  }
  .request-sent-button {
    background-color: #e9ebee;
  }
  .request-sent-button:hover {
    cursor: default;
  }
}
.profile-aside-item {
  margin: 20px 20px 20px 0;
}
