.sub-content {
  width: 980px;
  margin: auto;
  h2 {
    font-family: helvetica;
    font-size: 16px;
    margin: 3px 0 20px 35px;
  }
  .icon {
    width: 25px;
    height: 25px;
    display: block;
    float: left;
  }
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }
}

.cover-photo-container {
  position: relative;
  width: 851px;
  height: 315px;
}

.add-friend-container {
  position: absolute;
  right: 16px;
  bottom: 16px;
  font-family: helvetica;
  font-size: 12px;
  line-height: 15px;
  font-weight: bold;
  overflow: hidden;
  img {
    display: block;
    margin-right: 5px;
    float: left;
  }
  button {
    background-color: #F6F7F9;
    height: 28px;
  }
  button:hover {
    background-color: #e9ebee;
    cursor: pointer;
  }
  color: #4b4f56;
  border: 1px solid black;
  border-radius: 3px;
  strong::before {
    content: url(https://s3.amazonaws.com/faceplace-dev/assets/add_friend_icon.png);
  }
}
