@import 'global';

#right-col {
  .right-col-item {
    @include contentItem;
    cursor: pointer;
    display: flex;
    margin-bottom: 10px;
    padding: 12px;
    pointer-events: stroke;
    text-align: center;
    width: 251px;
    .right-col-container {
      font-size: 50px;
      line-height: 50px;
      margin: auto;
      .showcase-icon {
        float: left;
        margin-right: 10px;
      }
      .showcase-text {
        float: left;
        font-family: 'Open Sans', sans-serif;
      }
    }
    #linked-in {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 47px;
      font-weight: bold;
    }
    #portfolio {
      .showcase-text {
        font-size: 44px;
      }
    }
  }
  .right-col-item:hover {
    background-color: $chambray;
    color: white;
  }
}
