@import 'global';

#search-bar-container {
  border-radius: 3px;
  float: left;
  margin-top: 8px;
  #search-bar {
    @include typeStandard(14px);
    border-radius: 3px;
    display: block;
    margin-bottom: 1px;
    padding: 4px 5px 4px 4px;
    width: 400px;
  }
  #search-bar:focus {
    outline: none;
  }
  #search-index {
    width: 410px;
    .search-index-item {
      .search-icon {
        float: left;
        margin: 4px 8px 4px 6px;
        img {
          @include squareObjectFit(36px);
        }
      }
      .search-text {
        @include typeStandard(14px);
        height: 33px;
        float: left;
        padding: 6px 0 5px;
        small {
          color: #999999;
          font-size: 12px;
        }
      }
    }
    .search-index-item:hover {
      cursor: pointer;
    }
    .selected-search-item {
      background-color: $catskillWhite;
    }
  }
}
