.nav-search {
  float: left;
  margin-top: 8px;
  border-radius: 3px;
  font-size: 14px;
}

.search-bar {
  border-radius: 3px;
  width: 400px;
  display: block;
  padding: 4px 5px 4px 4px;
  margin-bottom: 1px;
  font-family: helvetica;
  font-size: 14px;
}

.nav-search input:focus {
  outline: none;
}
.search-index-items {
  font-family: helvetica;
}

.search-index-item {
  width: 410px;
}

.search-index-item:hover {
  cursor: pointer;
  background-color: #ECF0F7;
}

.search-icon {
  height: 36px;
  width: 36px;
  background-color: red;
  float: left;
  margin: 4px 8px 4px 6px;
}

.search-text {
  float: left;
  width: 356px;
  height: 33px;
  font-size: 14px;
  padding: 6px 0 5px 0;
  small {
    color: #999999;
    font-size: 12px;
  }
}
