section#sign-up {
  display: block;
  position: absolute;
  right: 20px;
}
#sign-up-header {
  float: right;
  width: 400px;
}
#sign-up-header > h1 {
  font-size: 36px;
  font-family: 'Merriweather', sans-serif;
  margin-bottom: 5px;
}
#consolation {
  font-size: 19px;
  margin-bottom: 20px;
}
#sign-up input {
  float: right;
  border: 1px solid #bdc7d8;
  padding: 8px 10px;
  font-size: 18px;
  width: 377px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: block;
}
#sign-up-form button {
  position: absolute;
  right: 207px;
  border: 1px outset #3b6e22;
  width: 192px;
  height: 37px;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 19px;
  border-radius: 5px;
  color: white;
  background: linear-gradient(180deg, #65a952, #578843);
}
#sign-up-form {
  position: relative;
}
#sign-up-form button:hover {
  cursor: pointer;
  background: linear-gradient(180deg, #76b861, #578843);
}
#sign-up-form button:active {
  bottom: -50px;
}
.sign-up-error {
  float: right;
  height: 33px;
  line-height: 33px;
  margin-right: 10px;
}
