body {
  background-color: #edf0f5;
  // For the side-scroll bar
  min-height: 100%;
}

html {
  height: 100%;
}

.overlay {
  position: relative;
  background-color: white;
  box-shadow: 0 4px 6px 2px rgba(0, 0, 0, .10);
  z-index: 1000;
}

.subcontent-container {
  background-color: white;
  display: block;
  box-shadow: 0 0 1px #ccc;
  border-radius: 3px;
  margin: 20px 20px 20px 0;
  padding: 10px;
}

.button {
  font-family: helvetica;
  font-size: 12px;
  font-weight: bold;
  border-radius: 3px;
}

.button-blue {
  background-color: #4267b2;
  color: white;
}

.button-gray {

}
