@import 'global';

.timeline-feed-item {
  @include typeStandard(14px);
  background-color: white;
  border-radius: 3px;
  display: block;
  float: left;
  margin-bottom: 20px;
  overflow-y: hidden;
  width: 510px;
}
