.timeline-content {
  width: 851px;
}

.timeline-sidebar {
  display: block;
  float: left;
  width: 321px;
}

.timeline-main-content {
  width: 490px;
  display: block;
  float: left;
  margin: 0 0 0 20px;
}
