<!DOCTYPE html>
<html>
<head>
  <title>Faceplace</title>
  <script src="https://use.fontawesome.com/5ff421dcd8.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href='https://s3.amazonaws.com/faceplace-dev/assets/favicon.png'
    rel='shortcut icon' type='image/x-icon' />
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
